*{
  margin : 0;
  padding: 0;
}

.container {
  background: linear-gradient(to right bottom, #4d3830, #4d3830);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: rgb(29, 71, 71);
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}

.header h1 {
  color: aliceblue;
  text-align: center;
  margin: 30px 0;
}

.task-input {
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: azure;
  background-color: rgb(16, 49, 65);
  border: 1px solid #c9978d;
  border-radius: 10px;
}

.button-add {
  width: 100px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #614e4b;
  cursor: pointer;
}

.list-item {
  display: flex;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  max-height: 30px;
}

.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50px;
}

.button-complete {
  color: #58eb58;
  margin-right: 10px;
}

.button-edit {
  color: #f59f2e;
  margin-right: 10px;
}

.button-delete {
  color: rgb(6, 168, 168);
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #a6b1e9;
  opacity: 0.7;
}

.list {
  width: 220px;
  background-color: rgb(29, 71, 71);
  border: none;
  color: beige;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 14px;
}

input:focus,
buttom:focus {
  outline: none;
}